*.png
*.pdf
*.csv
*.qmd
*.xlsx
data/
Full_results_markdown/dataVisualisation_files
Full_results_markdown/exploratory_analyses_files
Full_results_markdown/model1_perseverativeErrors_files
Full_results_markdown/model2_regressiveErrors_files
Full_results_markdown/model3_winStay_files
Full_results_markdown/model4_loseShift_files
Full_results_markdown/dataVisualisation_files/figure-commonmark
Full_results_markdown/exploratory_analyses_files/figure-commonmark
Full_results_markdown/model1_perseverativeErrors_files/figure-commonmark
Full_results_markdown/model2_regressiveErrors_files/figure-commonmark
Full_results_markdown/model3_winStay_files/figure-commonmark
Full_results_markdown/model4_loseShift_files/figure-commonmark

